.daily-weight-validation-message {
	color: var(--text-error);
	margin-top: 12px;
	min-height: 1.2em;
}

.daily-weight-buttons {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
	margin-top: 16px;
}
